
button{
   background-color: white;
   cursor: pointer;
}
.KhuyenMai3{
   display: flex;
   flex-direction: column;  
   justify-content: center;
   align-items: flex-start;
   width: 800px;
   padding: 10px;
}
.Div1{
   margin-left: 300px;
   margin-bottom: 10px;
   font-size: 20px;
}
.Div2{
   margin-bottom: 30px;
}
.Div2 > input{
   margin-left: 135px;
   width: 600px;
   border-radius: 30px;
}
.Div3{
   margin-bottom: 30px;
}
.TenKhuyenMaiInput{
   width: 250px;
   border-radius: 20px;
   margin-right: 50px;
   margin-left: 10px;
}
.GiaGiamInput{
   border-radius: 20px;
   margin-left: 10px;
   width: 200px;
}
.Div4{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 30px;
}
.Div4Left{
   display: flex;
   flex-direction: column;
   margin-left: 20px;
   padding-top: 20px ;
   width:30%;

}

.div4right{
   display: flex;
   flex-direction: row;
   margin-left: 105px;
   width: 20%;
}
.Div4  input {
   border-radius: 20px;
   margin-left: 21px;
   width: 200px;
}

.Div4 p{
   font-size: 16px;
}
.ThemSanPhamButton{
   font-size: 12px;
   width: 120px;
   margin-top: 30px;
   align-items: center;
   border-radius: 5px;
   transition: color 1s, background-color 1s;
   cursor: pointer;
}
.ThemSanPhamButton:hover{
   color: white;
   background-color: black;
}
.Div5{
   margin-bottom: 30px;
   display: flex ;
   justify-content: center;
   align-items: center;
}

.HinhChuThap{
   width: 35px;
   height: 35px;
   cursor: pointer;
   margin-left: 10px;
}
.Div5Left{
   margin-right: 100px;
}
.Div5Right{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 145px;
}
.Div5Right > div{
   margin-top: 10px;
   margin-bottom: 10px;
}
.Div6{
   margin-bottom: 30px;
}
.Div6 > input{
   flex: 1;
   margin-left: 70px;
   border-radius: 20px;
   width: 600px;
   height: 100px;
}
.Div7 > button{
   margin-left: 300px;
   width: 170px;
   height: 50px;
   border-radius: 5px;
   cursor: pointer;
   transition: color 1s, background-color 1s;
}
.Div7 > button:hover{
   color: white;
   background-color: black;
}
#KhuyenMai1-Background, #KhuyenMai-Background{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.6);
   position: fixed;
   height: 100%;
   width: 100%;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

#KhuyenMai1 ,#KhuyenMai{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   /* width: 60%; */
   /* padding: 10px; */
   background-color: rgb(255, 255, 255);
   margin-top: 40px;
}
#KhuyenMai2 ,#KhuyenMai{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   /* width: 60%; */
   /* padding: 10px; */
   background-color: rgb(255, 255, 255);
   /* margin-top: 40px; */
}

.themsanpham{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: white;
   height: 140px;
   width: 600px;
   border: 1px solid;
   /* margin-top: 200px; */
}
#popup, #popup2{
   display: none;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
   background-color: rgba(0, 0, 0, 0.6);
   position: fixed;
   height: 100%;
   width: 100%;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 1000;
}

.themsanpham input{
   width: 500px;
}

#list-prod{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
}

.div-pro{
   display: flex;
   border: 1px solid;
   position: relative;
   margin-left: 2px;
   margin-top: 2px;
   height: 28px;
   font-size: 12px;
   line-height: 28px;
   border-radius: 5px;
   padding: 1px 20px;
}

#btn-xacnhan, #btn-xacnhan2{
   margin-top: 10px;
   border-radius: 10px;
}

.close_type{
   text-align: right;
   font-size: 10px;
   position: absolute;
   height: 15px;
   width: 15px;
   top:0px;
   right: 2px;
   top:0px;
   padding: 0;
   border: none;
   cursor: pointer;
   line-height: 15px;
}

.close_type:hover{
   background-color: white;
   color: black;
}


#dialog5{
   display: none;
   justify-content: center;
   align-items: center;
   background-color: rgba(128, 128, 128, 0.5);
   position: fixed;
   /* height: 100%; */
   /* width: 100%; */
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
} 

#dialog13{
   display: none;
   justify-content: center;
   align-items: center;
   background-color: rgba(128, 128, 128, 0.5);
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

#list-detail{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: white;
   /* height: 60%; */
   /* width: 600px; */
   /* margin-top: 200px; */
   padding: 20px 30px;
   border-radius: 10px;
}
