.Middle{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
   width: 100%;
}

button{
   background-color: white;
   cursor: pointer;
}
#Confirm-Cancel-Lock {
   padding: 20px;
}
#dialog{
   background-color: rgb(128, 128, 128, 0.3);
   position: absolute   ;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: none;
   justify-content: center;
   align-items: center;
}

#dialog button {
   max-width: 120px;
   border-radius: 10px;
   padding: 2px 20px;
   cursor: pointer;
}

#dialog button:hover {
   background-color: black;
   color: white;
}

.name-filter{
   background-color: rgb(0, 0, 0,0.1);
   text-align: center;
   width: 100%;
   box-shadow: 0px 0px 1px;
   margin: 0;
   padding: 10px;
}


.Section{
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   align-items: center;
   background-color: white;
   padding-bottom: 10px;
   display: none;
   border: 1px solid;
}
.Section13{
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   align-items: center;
   background-color: white;
   padding-bottom: 10px;
   display: none;
   border: 1px solid;
   width: 35%;
}
@media only screen and (max-width: 800px) {
   .Section13{
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      align-items: center;
      background-color: white;
      padding-bottom: 10px;
      display: none;
      border: 1px solid;
      width: 50%;
   }
}



.find_all{
   width: 95%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   border-collapse: collapse;
   margin-top: 10px;
   padding: 0;
}
option{
   font-size: 12px;
}
.btn_select{
   background-color: white;
   display: flex;
   text-align:center ;
   width: 60%;
   height: 35px;
   line-height: 35px;
   padding: 0;
   border-style: solid;
   border-width: 1px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   border-left: none;
   padding: 5px 5px;  
   margin-right: 10px;
}

.text_find{
   font-size: 12px;
   display: flex;
   justify-content: center;
   width: 40%;
   height: 35px;
   line-height: 35px;
   border-style: solid;
   border-width: 1px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   
}

.SearchBox{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   /* margin-bottom: 20px; */
}
.SearchBar{
   width: 300px;
   border-radius: 20px;
   padding-left: 15px;
}
.SearchIcon{
   width: 24px;
   height: 24px;
   margin-left: 15px;
   border: 1px solid;
   border-radius: 5px;
   border-color: black;
   cursor: pointer;
}


.Middle1{
   display: flex;
   flex-direction: column;
}
.Section1{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   
}
.Section1 div{
   margin: 10px 5px 10px 10px;
}